.container-fluid{
    background-color: $color-background-secondary;
    padding: 72px 108px;
    
    @include media-query-mobile{
        padding: 40px 16px;
    }

    .card{
        background-color: $color-background-secondary;
        border-color: $color-border;
        border-radius: 18px;
        .card-title{
            color: $color-tipography;
        }
    }

    .btn-primary{
        font-size: 16px;
        font-family: $fontworksans;
        color: $color-tipography;
        background-color:$color-primary;
        border-radius: 4px;
        height: 40px;
        width: 160px;
        border: none;
    }

    .accordion-item{
        background-color: $color-background-secondary;
        border-color: $color-border;
    }

    .accordion-button {
        background-color: $color-background-primary;
        color: $color-tipography;
    
        &::after {
            background-color: $color-tipography;
            border-radius: 2px;
        }
    }

    .accordion-body{
        font-size: 16px;
        font-family: $fontworksans;
        color: $color-tipography;
    }
}