#secondaryHero{
    margin-top: 80px;
    background-color:$color-background-primary;
    @include flexbox(center, center);
    flex-direction: column;
    padding: 72px 108px;
    text-align: center;
    @include media-query-mobile{
        margin-top: 60px;
        width: auto;
        padding: 40px 16px;
        gap: 16px;
    }

    p{
        text-align: center;
        margin-top: 16px;
    }
}
#services{
    background: $color-background-secondary;
    padding: 56px 108px;

    @include media-query-tablet{
        padding: 56px 60px;
    }

    @include media-query-mobile{
        padding: 40px 16px; 
    }

    ul{
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    .card-content{
        @include flexbox(none, center);
        flex-direction: row;
        gap: 16px;

        @include media-query-tablet{
            gap: 16px;
        }

        @include media-query-mobile{
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 16px; 
        }

        img{
            width: 100%;
            height: 375px;
            border-radius: 8px;
            object-fit: cover;
            object-position: center;
            order: 2;

            @include media-query-tablet{
               width: 100%; 
               object-fit: contain;
            }

            @include media-query-mobile{
                height: 240px;
            }
        }
    }

    .card-text{
        padding: 24px;    
        width: 70%;

        @include media-query-tablet{
            padding: 16px;
            width: 100%;
         }

        @include media-query-mobile{
            padding: 8px 16px;
            margin: 0;
            width: 100%; 
        }

        h3{
            margin-bottom: 8px;
        }

        ul {
            @include tipography($fontworksans, 16px, 500, none, 24px);
            text-align: start;
            margin-top: 0;
            padding-left: 20px;
        }
    }

    article.card-content.reverse{
        display: flex;
        flex-direction: row-reverse;
        @include media-query-mobile{
            display: flex;
            flex-direction: column;  
        }
    }
}