#aboutMe{
    margin-top: 80px;
    background-color: $color-background-secondary;
    @include flexbox (center, center);
    flex-direction: row;
    padding: 72px 108px;
    height: 53vh;
    gap: 32px;

    @include media-query-tablet{
        padding: 56px 60px;
        flex-direction: column;
        height: auto;
        gap: 32px;
    }

    @include media-query-mobile{
        margin-top:59px;
        padding: 40px 16px;  
    }

    .about-me-text{
        width: 50%;

        p{
            margin: 16px 0;
        }  

        @include media-query-tablet{
            width: 100%;
        }

        @include media-query-mobile{
            line-height: 32px
        }
    }

    .about-me-figure{
        @include flexbox (center, center);
        gap: 24px;
        max-width: 100%;

        @include media-query-mobile {
            width: 100%;
            height: auto;
            margin-top: 40px;
            column-gap: 8px;
            box-sizing: border-box;
            
            img{
                width: 160px;
            }
        }
    }
}